.main {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 303px;
    height: 386px;
    box-shadow: 0 0 8px 1px rgb(240, 240, 240);
    border-radius: 10px;
    border: 1px solid #ebebf5;
    &__wrapper {
        width: 100%;
        height: 100%;
        padding: 8%;
        &__header {
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &__image {
                width: 100%;
                height: 100%;
                img {
                    width: auto;
                    height: 50px;
                    object-fit: cover;
                }
            }
            &__language {
                position: absolute;
                right: 0;
                top: 25px;
                transform: translate(0, -50%);
                span {
                    font-family: "Montserrat", sans-serif;
                    color: #698DF3;
                    cursor: pointer;
                }
            }
        }
        &__body {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__label {
                width: 100%;
                height: 25%;
                &__text {
                    text-align: center;
                    font-family: "Montserrat", sans-serif;
                    font-size: 15px;
                    color: rgb(120, 120, 120);
                }
            }
            &__enter {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
            &__restore {
                width: 100%;
                height: 25%;
                display: flex;
                justify-content: center;
                align-items: end;
                &__text {
                    font-family: "Montserrat", sans-serif;
                    font-size: 15px;
                    cursor: pointer;
                    color: #698DF3;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}