.main {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 18%;
    height: 44%;
    box-shadow: 0 0 8px 1px rgb(240, 240, 240);
    border-radius: 20px;
    border: 1px solid #ebebf5;
    &__wrapper {
        width: 100%;
        height: 100%;
        padding: 6%;
        &__header {
            width: 100%;
            height: 15%;
            &__image {
                width: 100%;
                height: 100%;
                img {
                    width: auto;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__body {
            width: 100%;
            height: 60%;
            display: flex;
            position: relative;
            justify-content: space-around;
            flex-direction: column;
            margin-top: 5%;
            &__login {
                width: 100%;
                height: 23%;
            }
            &__pass {
                width: 100%;
                height: 20%;
            }
            &__btn {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                &__register {
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.5vh;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &__reset {
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.5vh;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
        }
        &__footer {
            margin-top: 5%;
            width: 100%;
            height: 15%;
        }
    }
}