.main {
    width: 100%;
    height: 100%;
    &__btn {
        border-radius: 1.0vh;
        width: 100%;
        height: 100%;
        font-family: "Montserrat", sans-serif;
        transition: 0.3s;
        font-size: 1.7vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__default {
        background-color: rgb(58, 105, 241);
        color: white;
        &:hover {
            transition: 0.3s;
            background-color: rgb(91, 128, 237);
        }
    }
    &__inactive {
        background-color: #EDEDF5;
        color: #9D9BB4;
        cursor: cell;
    }
    &__gray {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #ebebf5;
        color: #2D2A4B;
        cursor: pointer;
        &:hover {
            background-color: rgb(245, 245, 245);
        }
    }
}