.main {
    width: 100%;
    height: 100%;
    &__btn {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        font-family: "Montserrat", sans-serif;
        transition: 0.3s;
    }
    &__default {
        background-color: rgb(58, 105, 241);
        color: white;
        &:hover {
            transition: 0.3s;
            background-color: rgb(91, 128, 237);
        }
    }
    &__inactive {
        background-color: #EDEDF5;
        color: #9D9BB4;
    }
}