.main {
    width: 100%;
    height: 100%;
    &__btn {
        background-color: rgb(58, 105, 241);
        color: white;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        font-family: "Montserrat", sans-serif;
    }
}