.main__fxd {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: -100%;
    right: 0;
    border-radius: 1.5vh;
    box-shadow: 0 0 5px 1px rgb(240, 240, 240);
}

.main__blk {
    width: 100%;
    height: 100%;
    border-radius: 1vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 1.5vh;
}

.content {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    &__image {
        width: 5.6vh;
        height: 5.6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 0 5px 1px rgb(220, 220, 220);
        img {
            width: 2.8vh;
            height: 2.8vh;
        }
    }
    &__text {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 10px;
        &__main {
            font-family: "Montserrat", sans-serif;
            color: black;
            font-size: 0.75vw;
        }
        &__extra {
            font-family: "Montserrat", sans-serif;
            color: black;
            font-size: 0.65vw;
        }
    }
    &__xmark {
        position: absolute;
        top: 0;
        right: 0;
        color: #9D9BB4;
        cursor: pointer;
        &:hover {
            color: rgb(230, 117, 117);
        }
    }
}


// .bColorMainGreen {
//     background-color: #D4FFED;
// }

// .colorImageGreen {
//     border: 1px solid white;
//     background-color: #E5FFF5;
// }


.lvl1anim {
    animation: lvl1 0.8s ease-in-out forwards;
}
@keyframes lvl1 {
    0% {
        top: -10vh;
    }
    100% {
        top: 30px;
    }
}

.lvl2anim {
    animation: lvl2 0.8s ease-in-out forwards;
}
@keyframes lvl2 {
    0% {
        top: 30px;
    }
    100% {
        top: calc(10vh + 60px);
    }
}

.lvl3anim {
    animation: lvl3 0.8s ease-in-out forwards;
}
@keyframes lvl3 {
    0% {
        top: calc(10vh + 60px);
    }
    100% {
        top: calc(20vh + 90px);
    }
}