.main {
    position: relative;
    &__btn {
        &__icon {
            font-size: 1.6vh;
            cursor: pointer;
            color: #a8a8b4;
            &__active {
                color: rgb(91, 128, 237);
            }
        }
    }
    &__enter {
        height: 150%;
        position: absolute;
        top: -200%;
        left: 0;
        width: 100%;
    }
}