.main {
    &__head {
        border: none;
        &__tr {
            border: none;
            &__th {
                font-weight: normal;
                border: none;
                font-size: 1.8vh;
                font-family: "Montserrat", sans-serif;
                &:first-child {
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
    &__body {
        &__tr {
            &:first-child {
                border-top: none;
            }
            &__td {
                vertical-align: middle;
                font-family: "Montserrat", sans-serif;
                font-size: 1.8vh;
                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}